@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */



* {
    margin: 0 auto;
    padding: 0;
}

.primary {
    width: 1440px;
    height: 131px;
    border: 1px solid tomato;

}

.primary-section {
    width: 128px;
    height: 33px;
    margin-left: 150px;
    margin-top: 50px;
    border: 1px solid tomato;

}



/* /** upper side next day te kaj korte hobe  */

.banner {
    width: 1440px;
    height: 652px;
    /* border: 1px solid tomato; */
    background: url('images/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-container {
    width: 998px;
    height: 582px;
    margin-top: 26px;
    margin: 26px 221px 44px 221px;
    /* border: 1px solid tomato; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.contain-1 {

    width: 240px;
    height: 240px;
    margin: auto;
    /* border: 1px solid tomato; */
    margin-bottom: 32px;
    transform: rotate(0.00deg);
}

.contain-2 {
    width: 998px;
    height: 136px;

    /* border: 1px solid tomato; */
}

.contain-2 h5 {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 42px;
    font-weight: 800px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0%;
}

.contain-3 {
    width: 852px;
    height: 52px;
    margin-top: 24px;
    /* border: 1px solid tomato; */


}

.contain-3 p {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}

/* .contain-4 {
    width: 208px;
    height: 66px;
    margin-top: 23px;
    border: 1px solid tomato; */
/* } */
.button {
    width: 208px;
    height: 66px;

    font-size: 20px;
    font-weight: 600px;
    line-height: 23px;
    text-align: center;
    margin-top: 24px;

    background: rgb(13, 19, 33);

    border-radius: 8px;
    text-decoration: none;





}


/* why Web Development*/

.reason-of-web-development {

    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 48px;
    border: 16px;
    padding: 80px 97px 80px 97px;
    border: 1px solid tomato;
}

.reason-of-web-1 {
    width: 852px;
    height: 133px;
    border: 1px solid tomato;
    padding: 0;

}

.reason-of-web-1 h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;

}

.reason-of-web-1 p {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.learn-button {
    width: 171px;
    height: 47px;
    background-color: rgb(13, 19, 33);
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    border: 1px solid tomato;
}

.learn {
    width: 150px;
    height: 19px;
    color: none;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* Container box -1*/
.container-size-1 {
    width: 946px;
    height: 300px;
    padding: 48px;
    border: 16px;
    margin-bottom: 32px;
    border: 1px solid tomato;
    display: flex;
    flex-direction: row;
}


.contain-message-1 {
    width: 477px;
    height: 219px;
    border: 1px solid tomato;

}

.contain-picture-1 {
    width: 259px;
    height: 217px;
    border: 1px solid tomato;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
    background: url('/images/Layer_1.png');
}

.contain-message-1 h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.contain-message-1 p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.contain-message-1 button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    margin-top: 8px;

}

/* Container box -2*/
.container-size-2 {
    width: 946px;
    height: 300px;
    padding: 48px;
    border: 16px;
    margin-bottom: 32px;
    border: 1px solid tomato;
    display: flex;
    flex-direction: row;
}

.contain-message-2 h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.contain-message-2 p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.contain-message-2 button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    margin-top: 8px;

}


.contain-message-2 {
    width: 477px;
    height: 219px;
    border: 1px solid tomato;

}

.contain-picture-2 {
    width: 259px;
    height: 217px;

    border: 1px solid tomato;
    background: url('/images/Group\ 3.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
}

/* Container box -3*/
.container-size-3 {
    width: 946px;
    height: 300px;
    padding: 48px;
    border: 16px;
    margin-bottom: 32px;
    border: 1px solid tomato;
    display: flex;
    flex-direction: row;
}


.contain-message-3 {
    width: 477px;
    height: 219px;
    border: 1px solid tomato;

}

.contain-picture-3 {
    width: 259px;
    height: 217px;

    border: 1px solid tomato;
    background: url('/images/Group\ 4.png');
    background-size: cover;
    background-repeat: no-repeat;
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
}

.contain-message-3 h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.contain-message-3 p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.contain-message-3 button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    margin-top: 8px;

}

.inspiration {
    width: 1140px;
    height: 775px;
    padding: 0;
    border: 0;
    margin: 0 auto;
    margin-top: 90px;
    border: 1px solid tomato;
}

.inspiration-message {
    width: 852px;
    height: 113px;
    margin-left: 144px;
    border: 1px solid tomato;
}

.inspiration-message h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.inspiration-message p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-video {
    width: 1140px;
    height: 614px;
    padding: 1px;
    margin-top: 48px;
    border: 16px;
    border: 1px solid tomato;

}
.inspiration-video iframe{

    
    border-radius: 16px;
}

.video-size {


    border: 32px;
    padding: 32px;
    text-align: center;

    margin: 10px 0px;
    border-radius: 16px;




}

.target {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 151px;
    border: 1px solid tomato;
}

.target-message {
    width: 946px;
    height: 113px;
    border: 1px solid tomato;
    /* this border is exist in site*/
    text-align: center;


}

.target-card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 13px;

}

.card-1 {
    width: 280px;
    height: 210px;
    padding: 40px;
    margin-top: 48px;
    border: 1px solid tomato;
    /* this border is exist in site*/
}

.next-target {
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 111px;
    border: 1px solid tomato;
    /* This border is exist in site */
}

.next-target-message {
    width: 825px;
    height: 113px;
    pad: 0;
    border: 1px solid tomato;
    /*this border is exist in site*/
    margin-bottom: 48px;
    margin: 0 auto;
    text-align: center;

}

/* .view-box-container{
    /* /* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    column-gap: 20px; 
}*/






.view-box-1 {
    width: 1050px;
    height: 138px;
    padding: 40px;
    border: 1px solid tomato;
    /*this border is exist in site*/
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.view-box-1-picture {
    width: 94px;
    height: 84px;
    border: 1px solid tomato;

}

.view-box-1-message-contain {
    width: 941px;
    height: 139px;
    border: 1px solid tomato;

}



.view-box-2 {
    width: 1050px;
    height: 138px;
    padding: 40px;
    border: 1px solid tomato;
    /*this border is exist in site*/
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.view-box-2-picture {
    width: 94px;
    height: 84px;
    border: 1px solid tomato;

}

.view-box-2-message-contain {
    width: 941px;
    height: 139px;
    border: 1px solid tomato;

}


.view-box-3 {
    width: 1040px;
    height: 138px;
    padding: 40px;
    border: 1px solid tomato;
    /*this border is exist in site*/
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.view-box-3-picture {
    width: 94px;
    height: 84px;
    border: 1px solid tomato;

}

.view-box-3-message-contain {
    width: 941px;
    height: 139px;
    border: 1px solid tomato;

}


.support-section {
    width: 1140px;
    height: 313px;
    padding: 64px 48px 64px 48px;
    border: 1px solid tomato;
    /*this border is exist in site*/
    margin-top: 49px;
    background: url('/images/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.support-container-box {
    width: 1044px;
    height: 185px;
    border: 1px solid tomato;
}

.footer {
    width: 1440px;
    height: 100px;
    margin-top: 80px;
    /* border: 1px solid tomato; */
}

.support-message {
    width: 730px;
    height: 104px;
    text-align: center;
    border: 1px solid tomato;
}

.support-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 16px ; */
    margin-top: 24px;

}

.email input {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-left: 180px;
    /*this border exist in site  */

}

.support-design-button {
    margin-right: 180px;
    /* margin-top: px; */
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    font: bold;



}

.footer {
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);

}

.footer-container {
    width: 1140px;
    height: 36px;
    margin: 0 auto;

    /* border: 1px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 526px;
    margin-top: 32px;
    margin-left: 150x;

}

.footer-message {
    width: 456px;
    height: 23px;
    /* border: 1px solid tomato; */
    text-align: center;
    margin-top: 32px;

}

.footer-message h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-icon {
    height: 36px;
    width: 157px;
    margin-right: 0 10px;
    border: 5px;
    border-color: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 32px;

}

.footer-icon-image {
    width: 36px;
    height: 36px;
    background: linear-gradient(135.00deg, rgb(36, 137, 190) 14.645%, rgb(5, 117, 179) 85.355%);
}

.view-box-2 img {}